@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/dropzone/dist/dropzone";

body {
   margin: 50px;
 }

.user-name {
  color: gray;
  margin-left: 8px;
  margin-right: 8px;
}